@import forms.DeleteCarModelData
@import helper._

@(carModel: Form[DeleteCarModelData])(implicit request: MessagesRequestHeader, flash: Flash)

@flash.get("success").getOrElse("")

@form(routes.CarModelsController.deleteFormHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@carModel("id").value" type="hidden" /><br />
    <input name="name" id="name" value="@carModel("name").value" type="text" readonly />
    <input name="year" id="year" value="@carModel("year").value" type="text" readonly />

    <div class="buttons">
        <input type="submit" value="Delete CarModel"/>
    </div>
}