@import forms.DeletePaymentData
@import helper._

@(payment: Form[DeletePaymentData])(implicit request: MessagesRequestHeader, flash: Flash)

@form(routes.PaymentsController.deleteFormHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@payment("id").value" type="hidden"><br />
    <label>provider</label><br />
    <input name="provider" id="provider" value="@payment("provider").value" type="text" readonly><br />
    <label>amount</label><br />
    <input name="amount" id="amount" value="@payment("amount").value" type="number" readonly><br />

    <div class="buttons">
        <input type="submit" value="Delete Payment">
    </div>
}