@import forms.UpdatePaymentData
@import helper._

@(payment: Form[UpdatePaymentData])(implicit request: MessagesRequestHeader, flash: Flash)

@flash.get("success").getOrElse("")

@form(routes.PaymentsController.updateFormHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@payment("id").value" type="hidden">
    <input name="provider" id="provider" value="@payment("provider").value" type="hidden">
    <input type="text" name="provider" id="provider" value="@payment("provider").value" min="0" readonly>
    <input type="number" name="amount" id="amount" value="@payment("amount").value" min="0" readonly>
    @checkbox(payment("completed"))

    <div class="buttons">
        <input type="submit" value="Update Payment">
    </div>
}