@(orders: Seq[Order], user: User)(implicit flash: Flash)

@flash.get("success").getOrElse("")
<br/>

@for(order <- orders) {
    @if(user != null) {
        <b>@user.email</b>
    }
    <b>@order.date</b>
    <a href="@controllers.routes.OrdersController.getByIdForm(order.id)">Details</a>
    <a href="@controllers.routes.OrdersController.updateForm(order.id)">Edit</a>
    <a href="@controllers.routes.OrdersController.deleteForm(order.id)">Delete</a>
    <a href="@controllers.routes.PaymentsController.createForm(order.id)">Pay</a><br/>
}
<a href="@controllers.routes.OrdersController.createForm()">Add</a><br/>