@import forms.CreateProductData
@import helper._

@(product: Form[CreateProductData], partsManufacturers: Seq[PartsManufacturer], categories: Seq[Category], carModels: Seq[CarModel])(implicit request: MessagesRequestHeader, flash: Flash)

@flash.get("success").getOrElse("")

@form(routes.ProductsController.createFormHandle()) {
    @helper.CSRF.formField
    <label>category</label><br />
    <select name="categoryId" id="categoryId">
    @for(category <- categories){
        <option value="@category.id">@category.name</option>
    }
    </select><br />
    <label>parts manufacturer</label><br />
    <select name="partsManufacturerId" id="partsManufacturerId">
    @for(partsManufacturer <- partsManufacturers){
        <option value="@partsManufacturer.id">@partsManufacturer.name</option>
    }
    </select><br />
    @inputText(product("name"))
    @textarea(product("description"))
    <label>price</label><br />
    <input type="number" name="price" id="price" value="@product("price").value" min="0"><br />
    <label>car model</label><br />
    <select name="carModelId" id="carModelId">
    @for(carModel <- carModels){
        <option value="@carModel.id">@carModel.name</option>
    }
    </select><br />

    <div class="buttons">
        <input type="submit" value="Add Product">
    </div>
}