playshop/logs
playshop/target
playshop/.idea
playshop/.idea_modules
plahshop/.classpath
playshop/.project
playshop/.settings
playshop/RUNNING_PID
.DS_Store
playshop/bin/
playshop/db
playshop/.eclipse
playshop/lib/
playshop/logs/
playshop/modules
playshop/project/project
playshop/project/target
playshop/target
playshop/tmp/
playshop/test-result
playshop/server.pid
playshop/*.eml
playshop/dist/
playshop/.cache

