.list-element {
    text-align: center;
    margin-top: 25px;
}

.list-element a {
    text-decoration: none;
    color: #fff;
}

.list-element hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}