.navigation-bar {
    width: 100%;
    height: 75px;
    background-color: #0984e3;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar a:hover {
    color: #2d3436;
}

.brand-logo {
    font-weight: 500;
    font-size: 28px;
    margin-left: 25px;
}

.navigation-bar .brand-logo {
    display: inline;
}


.navigation-bar a {
    color: #fff;
    text-decoration: none;
}

.navigation-bar ul {
    list-style-type: none;
    display: inline;
    margin: 0;
}

.navigation-bar ul li {
    margin-right: 25px;
    display: inline;
}