@(categories: Seq[Category])(implicit flash: Flash)

@flash.get("success").getOrElse("")
<br/>

@for(category <- categories) {
    <b>@category.name</b>
    <a href="@controllers.routes.CategoriesController.getByIdForm(category.id)">Details</a>
    <a href="@controllers.routes.CategoriesController.updateForm(category.id)">Edit</a>
    <a href="@controllers.routes.CategoriesController.deleteForm(category.id)">Delete</a><br/>
}
<a href="@controllers.routes.CategoriesController.createForm()">Add</a><br/>