@import forms.DeleteUserData
@import helper._

@(user: Form[DeleteUserData])(implicit request: MessagesRequestHeader, flash: Flash)

@flash.get("success").getOrElse("")

@form(routes.UsersController.deleteFormHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@user("id").value" type="hidden" /><br />
    <input name="username" id="username" value="@user("username").value" type="text" readonly />

    <div class="buttons">
        <input type="submit" value="Delete User"/>
    </div>
}