@import forms.UpdateProductCommentData
@import helper._

@(productComment: Form[UpdateProductCommentData])(implicit request: MessagesRequestHeader, flash: Flash)

@flash.get("success").getOrElse("")

@form(routes.ProductCommentsController.updateFormHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@productComment("id").value" type="hidden">
    <input name="userId" id="userId" value="@productComment("userId").value" type="hidden">
    <input name="productId" id="productId" value="@productComment("productId").value" type="hidden">
    <input type="number" name="rate" id="rate" value="@productComment("rate").value" min="0" max="5">
    @textarea(productComment("content"))

    <div class="buttons">
        <input type="submit" value="Update Product Comment">
    </div>
}