@import forms.DeletePromotionData
@import helper._

@(promotion: Form[DeletePromotionData])(implicit request: MessagesRequestHeader, flash: Flash)

@flash.get("success").getOrElse("")

@form(routes.PromotionsController.deleteFormHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@promotion("id").value" type="hidden">
    <input name="percentage" id="percentage" value="@promotion("percentage").value" type="number" readonly><br />
    <input name="fromDate" id="fromDate" value="@promotion("fromDate").value" type="date" readonly><br />
    <input name="toDate" id="toDate" value="@promotion("toDate").value" type="date" readonly><br />

    <div class="buttons">
        <input type="submit" value="Delete Promotion">
    </div>
}